<div id="determiner-quiz">
  <h2>German Determiner Quiz</h2>
  <!-- Pickers -->
    <!-- Determiner Picker -->
    <section id="determiner-picker">
    </section>

    <!-- Case Picker -->
    <section id="case-picker">
      <app-multi-case-picker></app-multi-case-picker>
    </section>

    <!-- Gender Picker -->
    <section id="gender-picker">
      <app-multi-gender-picker></app-multi-gender-picker>
    </section>

    <!-- Number Picker -->
    <section id="number-picker">
      <app-multi-number-picker></app-multi-number-picker>
    </section>

  <!-- Question -->
    <!-- Question Determiner -->
    <!-- Question Case -->
    <!-- Question Gender -->
    <!-- Question Number -->

  <!-- User Input -->
  <!-- Result -->

  <!-- Submit / Skip Buttons -->

</div>
